@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    :root {
        --background: 0 0% 92%;
        --foreground: 0 0% 5%;
        --card: 0 0% 85%;
        --card-foreground: 0 0% 5%;
        --popover: 0 0% 85%;
        --popover-foreground: 0 0% 5%;
        --primary: 219 89% 72%;
        --primary-foreground: 0 0% 5%;
        --secondary: 249 89% 72%;
        --secondary-foreground: 0 0% 0%;
        --muted: 0 0% 66%;
        --muted-foreground: 0 0% 30%;
        --accent: 189 89% 72%;
        --accent-foreground: 0 0% 5%;
        --destructive: 1 100% 61%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 80%;
        --input: 0 0% 73%;
        --ring: 216 89% 47%;
        --chart-1: 219 89% 67%;
        --chart-2: 9 89% 67%;
        --chart-3: 69 89% 67%;
        --chart-4: 189 89% 67%;
        --chart-5: 249 89% 67%;
        --radius: 1rem;
    }

    .dark {
        --background: 0 0% 9%;
        --foreground: 0 0% 95%;
        --card: 0 0% 18%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 18%;
        --popover-foreground: 0 0% 95%;
        --primary: 219 89% 61%;
        --primary-foreground: 0 0% 100%;
        --secondary: 249 89% 58%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 29%;
        --muted-foreground: 0 0% 70%;
        --accent: 189 89% 56%;
        --accent-foreground: 0 0% 5%;
        --destructive: 1 100% 41%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 36%;
        --input: 0 0% 33%;
        --ring: 216 89% 47%;
        --chart-1: 219 89% 67%;
        --chart-2: 9 89% 67%;
        --chart-3: 69 89% 67%;
        --chart-4: 189 89% 67%;
        --chart-5: 249 89% 67%;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
